[user]
    name = Daria Jung
    email = djj2115cu@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto

[core]
	excludesfile = ~/.gitignore
	pager = less -F -X
[push]
	default = current
